<h1>Bookmark a recipe</h1>

<%= simple_form_for [@category, @bookmark] do |f| %>
<%= f.input :recipe_id, collection: Recipe.all,label_method: :name, value_method: :id %>
<%= f.input :comment %>
<%= f.submit %>
<% end %>
<%= link_to "Home", categories_path %>
<%= link_to "Back", category_path(@category) %>
